<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Layout</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/ticketstyles.css}">

</head>
<body>
    <div class="navigation">
        <div class="menu-item"><a href="components/ticket/newTicket.html" th:href="@{/ticket/create}" class="nav-link">Nieuw ticket</a></div>
        <div class="menu-item"><a href="components/ticket/agenda.html" th:href="@{/ticket/agenda}" class="nav-link">Agenda</a></div>
        <div class="menu-item"><a href="components/agenda/agenda.html" th:href="@{/agenda}" class="nav-link">Agenda New</a></div>
        <div class="menu-item"><a href="components/user/all.html" th:href="@{/user/all}" class="nav-link">Users</a></div>
        <div class="menu-item"><a href="components/flyer/init.html" th:href="@{/flyer/init}" class="nav-link">New Flyer</a></div>
    </div>

    <div style="flex-direction: row">
        <h1 layout:fragment="header">Layout</h1>
        <div layout:fragment="content">Some content</div>
    </div>

    <div>
    </div>

</div>


<script>

</script>

</body>
</html>
