<html
        layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>all tickets</title>
    <link rel="stylesheet" th:href="@{/css/ticketstyles.css}">
</head>
<body>
<h1 layout:fragment="header">
    Board
</h1>
<div class="container" layout:fragment="content">

    <div class="row">
        <h2>Filters</h2>
    </div>

    <form method="post" th:action="@{/ticket/agenda/search}" th:object="${calendarFilter}">

        <div class="form-group row">
            <label for="assignedProjectId" class="col-sm-2 col-form-label">Project</label>
            <div class="col-sm-10">
                <select class="custom-select" id="assignedProjectId"
                        th:field="*{project}" >
                    <option value="" >Select Project</option>
                    <option th:each="project : ${projects}" th:text="${project.name}"
                            th:value="${project.name}"
                            th:selected="${project.name == calendarFilter.project}"
                    ></option>
                </select>
            </div>
        </div>


        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="begindate">Begindatum</label>
            <div class="col-sm-10">
                <input
                        class="form-control" data-date-format="dd/mm/yyyy" id="begindate"
                        th:field="*{begindate}" type="text">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="enddate">Einddatum</label>
            <div class="col-sm-10">
                <input
                        class="form-control" data-date-format="dd/mm/yyyy" id="enddate"
                         th:field="*{enddate}" type="text">
            </div>
        </div>

        <input type="submit"/>

    </form>

    <div class="row">
        <div class="col-2">


        </div>
        <div class="col-10">

            <table border="5">
                <tr th:each="dayView : ${calendarView}">
                    <td th:text="${dayView.date} "></td>

                    <td>
            <span th:if="${dayView.todoPerProject.containsKey('flyer1')}">
                <div
                        class="firstSelected"
                        th:each="ticketInfo : ${dayView.todoPerProject.get('flyer1')}">
                    <span th:text="${ticketInfo.title}"></span>
                     -
                    <span th:text="${ticketInfo.assignee}"></span>
                </div>
            </span>
                    </td>
                    <td>
             <span th:if="${dayView.todoPerProject.containsKey('flyer2')}">
                <div
                        class="secondSelected"
                        th:each="ticketInfo : ${dayView.todoPerProject.get('flyer2')}">
                    <span th:text="${ticketInfo.title}"></span>
                     -
                    <span th:text="${ticketInfo.assignee}"></span>
                </div>
            </span>
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <!--    elke dag van maand div -->
    <!--    als dag hetzelfde is: check -->


</div>
</body>
