<html
        layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>all tickets</title>
    <link rel="stylesheet" th:href="@{/css/ticketstyles.css}">
</head>
<body>
<h1 layout:fragment="header">
    Board
</h1>
<div class="container" layout:fragment="content">

    <div class="row">
        <div class="col-sm-3">
            <h2>Filters</h2>
            <form method="post" th:action="@{/ticket/agenda/search}" th:object="${calendarFilter}">

                <div class="form-group row">
                    <label for="assignedProjectId">Project</label>
                    <select
                            class="custom-select" id="assignedProjectId"
                            th:field="*{project}">
                        <option value="">Select Project</option>
                        <option
                                th:each="project : ${projects}" th:selected="${project.name == calendarFilter.project}"
                                th:text="${project.name}"
                                th:value="${project.name}"
                        ></option>
                    </select>
                </div>


                <div class="form-group row">
                    <label for="begindate">Begindatum</label>
                        <input
                                class="form-control" data-date-format="dd/mm/yyyy" id="begindate"
                                th:field="*{begindate}" type="text">
                </div>

                <div class="form-group row">
                    <label for="enddate">Einddatum</label>
                        <input
                                class="form-control" data-date-format="dd/mm/yyyy" id="enddate"
                                th:field="*{enddate}" type="text">
                </div>

                <input type="submit"/>

            </form>
        </div>


<!--        resultlist -->
        <div class="col-sm-9">
            <h2>Results</h2>
            <table class="table">
                <tr th:each="dayView : ${calendarView}">
                    <td th:text="${dayView.date} "></td>

                    <td>
            <span th:if="${dayView.todoPerProject.containsKey('flyer1')}">
                <div
                        class="firstSelected"
                        th:each="ticketInfo : ${dayView.todoPerProject.get('flyer1')}">

                    <span th:text="${ticketInfo.title}"></span>
                     -
                    <span th:text="${ticketInfo.assignee}"></span>
                </div>
            </span>
                    </td>
                    <td>
             <span th:if="${dayView.todoPerProject.containsKey('flyer2')}">
                <div
                        class="secondSelected"
                        th:each="ticketInfo : ${dayView.todoPerProject.get('flyer2')}">
                    <span th:text="${ticketInfo.title}"></span>
                     -
                    <span th:text="${ticketInfo.assignee}"></span>
                </div>
            </span>
                    </td>
                </tr>
            </table>

        </div>

    </div>


</div>
</body>
