<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>all tickets</title>
    <link rel="stylesheet" th:href="@{/css/ticketstyles.css}">
</head>
<body>
<h1 layout:fragment="header">
    Alle tickets

</h1>
<div layout:fragment="content" class="container">
all tickets

<!--    elke dag van maand div -->
<!--    als dag hetzelfde is: check -->



<table border="5">
    <tr th:each="dayView : ${calendarView}" >
        <td th:text="${dayView.date}" ></td>
        <td>
            <span th:if="${dayView.todoPerProject.containsKey('project1')}">
                <div th:each="ticketInfo : ${dayView.todoPerProject.get('project1')}" class="firstSelected">
                    <span th:text="${ticketInfo.title}"></span>
                     -
                    <span th:text="${ticketInfo.assignee}"></span>
                </div>
            </span>
        </td>
        <td>
             <span th:if="${dayView.todoPerProject.containsKey('project2')}" >
                <div th:each="ticketInfo : ${dayView.todoPerProject.get('project2')}" class="secondSelected">
                    <span th:text="${ticketInfo.title}"></span>
                     -
                    <span th:text="${ticketInfo.assignee}"></span>
                </div>
            </span>
        </td>
    </tr>
</table>

</div>
</body>
