<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>all tickets</title>
<!--    <link rel="stylesheet" th:href="@{/css/ticketstyles.css}">-->
</head>
<body>
<h1 layout:fragment="header">
    Create ticket
</h1>
<div layout:fragment="content" class="container">


    <form th:action="@{/ticket/create}" th:object="${ticket}" method="post">

        <div class="form-element">
            <label for="title">Titel</label>
            <input type="textA" id="title" th:field="*{title}">
        </div>

        <div class="form-element">
            <label for="description" class="label-textarea">Omschrijving</label>
            <textarea name="" id="description" cols="30" rows="10" th:fieldd="*{description}"></textarea>
<!--            <input type="text" id="description" th:field="*{description}">-->
        </div>

        <div class="form-element">
            <label for="deadline">Deadline</label>
            <input type="text" data-date-format="dd/mm/yyyy" id="deadline" th:field="*{deadline}">
        </div>

        <div class="form-element">
            <label for="assignedUserId">Assigned user</label>
            <select id="assignedUserId" th:field="${ticket.assignedUserId}">
                <option value="0">Select User</option>
                <option th:each="user : ${users}" th:text="${user.name}" th:value="${user.id}"></option>
            </select>
        </div>

        <div class="form-element">
            <label for="assignedProjectId">Selected project</label>
            <select id="assignedProjectId" th:field="${ticket.assignedProjectId}">
                <option value="0">Select Project</option>
                <option th:each="project : ${projects}" th:text="${project.name}" th:value="${project.id}">
                </option>
            </select>
        </div>

        <div class="form-element">
            <label for="priority">Prioriteit</label>
            <select id="priority" th:field="${ticket.priority}">
                <option value="0">--Prioriteit--</option>
                <option th:text="HIGH" th:value="HIGH"></option>
                <option th:text="MEDIUM" th:value="MEDIUM"></option>
                <option th:text="LOW" th:value="LOW"></option>
            </select>
        </div>

        <div class="form-element">
            <div class="empty"></div>
            <div class="pull-right">
                <input type="submit" value="Creëer ticket">
            </div>
        </div>

    </form>

</div>
</body>
