<!--The content below is only a placeholder and can be replaced.-->
<div class="navigation">
  <div class="menu-item"><a
    href="components/ticket/newTicket.html" routerLink="/ticket/new" class="nav-link">Nieuw
    ticket</a></div>
  <div class="menu-item"><a href="components/ticket/agenda.html" class="nav-link">Agenda</a></div>
  <div class="menu-item"><a href="components/agenda/agenda.html" class="nav-link">Agenda New</a>
  </div>
  <div class="menu-item"><a href="components/user/all.html" routerLink="/user" class="nav-link">Users</a>
  </div>
  <div class="menu-item"><a href="components/flyer/init.html" class="nav-link">New Flyer</a></div>
</div>
<div class="maincontent">
  <toaster-container></toaster-container>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
