:root {
    --main-bg-color: white;
    /* --day-color: #e9e7ff; */
    --day-color: rgb(239, 248, 255);
    --today-color: rgb(255,252,242);
    --hover-color: rgb(181, 230, 208);
    --hover-color-text: #3c763d;
    --today-marked: #abc0d6;
    --boxes-color: var(--today-marked);


    --appointment-background-color:#456990;
    --appointment-background-color2:#82506a;
    --appointment-background-color3:#6a7c75;
    --appointment-background-color4:#2d2c2b;
    --appointment-background-color5:#B6976f;
    --appointment-border-color:transparent;
    --appointment-text-color:white;
}

.cld-main {
    width: 800px;
}

.cld-main a {
    color: #7b00ff;
}

.cld-datetime {
    position: relative;
    width: 66%;
    min-width: 100px;
    max-width: 300px;
    overflow: hidden;
    margin: auto auto 20px;
}

.cld-datetime .today {
    position: relative;
    float: left;
    width: calc(100% - 40px);
    margin: auto;
    text-align: center;
}

.today .marked {
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    border-color: white;
    width: 20px;
    height: 20px;
    background-color: var(--main-bg-color);

    text-align: center;
}

.cld-nav {
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 2px;
}

.cld-nav:hover {
    cursor: pointer;
}

.cld-nav:hover svg {
    fill: #666;
}

.cld-rwd {
    float: left;
}

.cld-fwd {
    float: right;
}

.cld-labels,
.cld-days {
    padding-left: 0;
}

.cld-label,
.cld-day {
    box-sizing: border-box;
    display: inline-block;
    width: 14.28%;
    text-align: center;
}

.cld-day {
    display: block;
    float: left;
    position: relative;
    margin: 0;
    padding: 5px;
    height: 80px;
    border: 1px solid var(--boxes-color);
    overflow-y: auto;
    /* background: #e7e5ff; */
    background: var(--day-color);
}

.cld-day.clickable:hover {
    cursor: pointer;
}

.cld-day.today {
    background: #abc0d6;
    font-weight: bold;
}

.cld-day.disableDay {
    opacity: 0.5;
}

.cld-day.nextMonth,
.cld-day.prevMonth {
    opacity: 0.33;
}

.cld-number {
    margin: 0;
    text-align: left;
}

.cld-title {
    font-size: 10px;
    display: block;
    margin: 0;
    font-weight: normal;
    /* background-image: var(--appointment-background-image); */
    background-color: var(--appointment-background-color3);
    border: 1px solid var(--appointment-border-color);

    border-radius: 4px;
    padding: 0 0.75em;
    color: var(--appointment-text-color);
}

.cld-day:hover .cld-title{
    text-shadow: none;
}

.cld-day:hover {
    background: var(--hover-color);
}

.cld-number.eventday {
    font-weight: bold;
}

.cld-number.eventday:hover {
    background: var(--hover-color);
}

.cld-day.currMonth {
    color: #8899ab;
}

.cld-day.currMonth:hover {
    color: var(--hover-color-text);
    text-shadow: 1px 1px 3px white;
}


.today:hover div.marked{
    color: var(--hover-color-text);
    background-color: var(--day-color);
    border-style: solid;
    border-color: var(--day-color);
}

