.box {
    border: rebeccapurple dashed thick;
}

.firstSelected {
    background-color: green;
}

.secondSelected {
    background-color: dodgerblue;
}

body {

    font-family: 'Source Sans Pro', sans-serif;

}

.container {
    margin: 1rem;
}

.navigation {
    display: flex;
    flex-direction: row;
}

.menu-item {
    margin-right: 1rem;
    font-size: larger;
}

.menu-item > a {
    text-decoration: none;
}


form {
    width: 47%;
}

.form-element {
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0;
}

label {
    flex: 1;
    padding-right: 0.5em;
}

input:not([type="submit"]) {
    flex: 2;
    height: 1.5rem;
    font-size: 1.1rem;
}

input[type="submit"] {
    color: white;
    background-color: #4caf50;
    border-radius: 7px;
    font-size: 16px;
    padding: .4rem .8rem;
}

.empty {
    flex: 1;
}

.pull-right {
    float: right;
}

select {
    flex: 2;
    height: 1.5rem;
    font-size: 0.9rem;
}
