.box {
    border: rebeccapurple dashed thick;
}

.firstSelected {
    background-color: green;
}

.secondSelected {
    background-color: dodgerblue;
}

body {

    font-family: 'Source Sans Pro', sans-serif;

}
